"LaunchConfiguration" : {
  "Type" : "AWS::AutoScaling::LaunchConfiguration",
  "Properties" : {
    "AssociatePublicIpAddress" : "true",
    "ImageId" : { "Fn::FindInMap" : [ "Region", { "Ref" : "AWS::Region" }, "AMI" ] },
    "SecurityGroups" : [ { "Ref" : "InstanceSecurityGroup" } ],
    "InstanceType" : { "Ref" : "InstanceType" },
    "KeyName" : { "Ref" : "KeyName" },
    "IamInstanceProfile": { "Ref": "RootInstanceProfile" },
    "UserData" : { "Fn::Base64" : { "Fn::Join" : [ "", [
      <%= user_data('common.sh.erb') %>,
      <%= user_data("#{@role}.sh.erb") %>
    ] ] } }
  }
},

"AutoScalingGroup": {
  "Type": "AWS::AutoScaling::AutoScalingGroup",
  "Properties": {
    "AvailabilityZones": [ { "Ref" : "SubnetAvailabilityZone" } ],
    "LaunchConfigurationName": { "Ref": "LaunchConfiguration" },
    "VPCZoneIdentifier" : [ { "Ref" : "Subnet" } ],
    "MinSize": "1",
    "MaxSize": "1"
  }
}