{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "<%= @description %>",
  "Parameters" : {
    <%= partial('network/parameters.json.erb') %>
  },
  "Resources" : {
    <%= partial('network/resources_ec2.json.erb') %>
  },
  "Outputs" : {
    <%= partial('network/outputs.json.erb') %>
  }
}
