{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "<%= @description %>",
  "Parameters" : {
    <%= partial('server/parameters.json.erb') %>
  },
  "Mappings" : {
    <%= partial('server/mappings.json.erb') %>
  },
  "Resources" : {
    <%= partial('server/resources_autoscaling.json.erb') %>,
    <%= partial('server/resources_ec2.json.erb') %>,
    <%= partial('server/resources_iam.json.erb') %>
  },
  "Outputs" : {
    <%= partial('server/outputs.json.erb') %>
  }
}
